<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/css/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <div id="waveContent">
            <div>
                <button id="play"> 재생/일시정지 </button>
                <button id="stop"> 정지 </button>
            </div>
            <div id="waveform-timeline"></div>
            <div>
                <div id="waveRow0">
                    <div>
                        <input type="file" id="upload0" accept = "audio/*"/> 
                        <button id="play0"> 재생/일시정지 </button>
                        <button id="stop0"> 정지 </button>
                        <button id="download0"> 다운로드 </button>
                    </div>
                </div>
                <!-- <div id="waveform-timeline0"></div> -->
            </div>

            <div>
                <div id="waveRow1">
                    <div>
                        <input type="file" id="upload1" accept = "audio/*"/> 
                        <button id="play1"> 재생/일시정지 </button>
                        <button id="stop1"> 정지 </button>
                        <button id="download1"> 다운로드 </button>
                    </div>
                </div>
                <!-- <div id="waveform-timeline1"></div> -->
            </div>
        </div>

        <button id="addRow" style="height:100px; width:100%"> 트랙 추가</button>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>
        <script src="/js/wavesurfer.js"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.2/wavesurfer.min.js"></script> -->
        <script src="/js/wavesurfer.timeline.js"></script>
        <script src="/js/wavesurfer.regions.js"></script>
        <script src="/js/fileDownloader.js"></script>
        <script src="/js/audioRenderer.js"></script>
    </body>
</html>
